.app {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  margin-inline: 30%;
  margin-top: 15%;
  border: 2px dotted rgb(30, 30, 174);
  background-color: beige;
  border-radius: 0px 0 70px 0;
}

.addBtn {
  padding: 5px 25px;
  border-radius: 10px;
}

.nextTD {
  margin-top: 10px;
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 12px;
  font-size: 1.5rem;
}

.currentTD {
  padding: 7px;
  width: 300px;
  border: none;
  font-size: 0.9rem;
  background-color: beige;

}

ul {
  list-style: none;
}

li {
  display: flex;
}